
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<div class="col-md-6 mx-auto my-4">
    <section class="card bg-primary">

        <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659980382/Logo_Oogway_r7m6dv.png" 
            class="rounded-circle_ mx-auto d-block mt-4" width="50%">
        
        <div class="card-body bg-info">
            <h3 class="mx-auto">About Oogway</h3>
    
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae illo architecto. Voluptatibus, vero. 
                Consequuntur provident ipsam sed suscipit iure et ea. Minus, soluta amet. Odio ut error deserunt inventore!
            </p>
        </div>
    
    </section>
</div>

<div class="row my-4 col-md-3 mx-auto">
    <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659989982/maple_cyl6xr.png" style="height: 30%; width:30% ">
</div>

<%- include ('partials/footer.ejs') %>