
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<div class="col-md-6 mx-auto my-4">
    <section class="card bg-primary">

        <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659980382/Logo_Oogway_r7m6dv.png" 
            class="rounded-circle_ mx-auto d-block mt-4" width="50%">
        
        <div class="card-body bg-info">
            <h3 class="mx-auto">About Oogway</h3>
    
            <p>
                At oogway, We believe in massive customization over mass production.
            </p>
            <p>
                Creating products on demand, allows us to make a better use of the resources and raw materials, while making products as unique as our customers and their needs.
            </p>
            <p>
                Having the possibility to change colors and accesories on the garments for your staff or your customers, promotes a sense of belonging and brand recognition.
            </p>
            <p>
                We are much more than just apparel decor, we make the apparel.
            </p>
        </div>
    
    </section>
</div>

<div class="row my-4 col-md-3 mx-auto">
    <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659989982/maple_cyl6xr.png" style="height: 30%; width:30% ">
</div>

<%- include ('partials/footer.ejs') %>