
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<style>
        body {
          background-color: #1c87c9;
        }
</style>

<div class="jumbotron mt-4_">

        <div class="card text-center">
                <!-- <div class="card-header">Featured</div> -->
                <div class="card-body bg-primary">
                        <!-- <h3 class="card-title">Oogway</h3> -->
                        <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1659980382/Logo_Oogway_r7m6dv.png"
                                class="rounded-circle_ mx-auto d-block m-4" width="300" />
                        <!-- <p class="lead">Lorem ipsum dolor</p> -->
                </div>

                <div class="card-footer text-muted bg-secondary">
                        <h4>Our Own Geeky Way!</h4>
                </div>
        </div>        
        <!-- <hr class="my-4" />
        <p>Lorem ipsum
        </p> -->
</div>

<%- include ('partials/footer.ejs') %>