
<%- include ('partials/header.ejs') %>
<%- include ('partials/navigation.ejs') %>

<div class="col-md-4 mx-auto">

    <div class="card text-center my-4">

        <div class="card-header bg-info">
            <h3>New Note</h3>
        </div>

        <div class="card-body bg-secondary_">

            <form action="/notes/new-note" method="POST" enctype="multipart/form-data">

                <div class="form-group">

                    <input 
                        type="text" 
                        name="title"
                        class="form-control my-2"
                        placeholder="Title"
                        autofocus
                    >

                    <textarea 
                        name="description" 
                        id="description" 
                        placeholder="Description"
                        class="form-control my-2"
                    ></textarea>

                    
                    <input class="form-control my-2" 
                        list="datalistOptions1" 
                        id="DataList1" 
                        placeholder="Gender..."
                    >
                    <datalist id="datalistOptions1">
                        <option value="Female">
                        <option value="Male">
                        <option value="Unisex">
                    </datalist>


                    <input class="form-control my-2" 
                        list="datalistOptions2" 
                        id="DataList2" 
                        placeholder="Top/Bottoms..."
                    >
                    <datalist id="datalistOptions2">
                        <option value="Top">
                        <option value="Bottom">
                        <option value="Full">
                    </datalist>


                    <input class="form-control my-2" 
                        list="datalistOptions3" 
                        id="DataList3" 
                        placeholder="More Categories..."
                    >
                    <datalist id="datalistOptions3">
                        <option value="Accesories">
                        <option value="Pets">
                    </datalist>


                    <div class="card mb-3" style="background-color: #483D8B;">
                        <div class="card-body">
                          <p class="card-text">Upload a picture</p>
                            <div class="input-group mb-3">
                                <input
                                type="file"
                                name="image"
                                class="form-control"
                                id="inputGroupFile02"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 d-md-block mb-2">
                        <button class="btn btn-primary" type="submit">Upload new note</button>
                        <a class="btn btn-info me-md-2" href="/notes">Cancel</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>