
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oogway</title>
        <link rel="shortcut icon" 
            href="https://res.cloudinary.com/metacortexjohn/image/upload/v1659980537/Icono-Oogway_kc7hjq.ico" 
            type="image/x-icon"
        >

        <!-- {{!-- BOOTSTRAP Esto fue reemplazado por el CDN de Bootswatch--}} -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
            crossorigin="anonymous">

        <!-- {{!-- BOOTSWATCH --}} -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/solar/bootstrap.min.css" 
            integrity="sha256-0jKEFITyw8vpXFCaPy3KXTQ6p4TPnAPKtf6+Chl7Xn4=" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/sketchy/bootstrap.min.css" 
            integrity="sha256-1l/CBO7zf/XFtwsHFyqG+Uv5eFVVji2cwWF1AtlLVWM=" 
            crossorigin="anonymous">
        
        <!-- {{!-- ICONS FROM FONT AWESOME --}} -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"
        />

        <!-- {{!-- CUSTOM CSS --}} -->
        <link href="./../../public/css/main.css">

        <!-- {{!-- MOMENTJS --}} -->
        <!-- {{!-- <script type="text/JavaScript" src="MomentJS.js"></script> --}} -->
    </head>

    <body>
        <!-- {{>navigation}} -->     
        
        <main class="container p-2">
            <!-- {{>errors}}            
            {{>messages}} -->
        </main>




        